body {
  background: #342A3F;
  font-family: Verdana;
  color: #FFF;
}

.container {
  padding: 0px;
}

a {
  color: #FFF;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

header {
  background: black;
  padding: 10px 0px;
}
header nav {
  font-size: 15px;
  height: 90px;
  line-height: 135px;
  text-transform: uppercase;
}
header nav li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 18px;
}
header nav li:last-child {
  margin-right: 0px;
}
header nav .current-menu-item a {
  color: #eebd08;
}
header nav a:hover {
  text-decoration: none;
  color: #eebd08;
}

section#home {
  margin-top: 150px;
  margin-bottom: 50px;
}
section#home article .containerCol {
  min-height: 170px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
section#home article .laranja, section#home article .vermelho, section#home article .amarelo, section#home article .blog {
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
section#home article .laranja {
  background: #f26922;
}
section#home article .vermelho {
  background: #a12310;
}
section#home article .amarelo {
  background: #edbf07;
}
section#home article .blog {
  background: url("../images/blog_bg.png") top right no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
section#home article .colTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
section#home article .colText {
  max-width: 88%;
}
section#home article .colTextLong {
  width: 100%;
}
section#home article .colIcon {
  position: absolute;
  right: 40px;
  top: 60px;
}
section#home article a:hover, section#home article a:hover > .containerCol, section#home article a:active, section#home article a:visited, section#home article a:focus {
  background: none;
  color: #FFFFFF;
  text-decoration: none;
}
section#home article a:hover .blog, section#home article a:hover > .containerCol .blog, section#home article a:active .blog, section#home article a:visited .blog, section#home article a:focus .blog {
  opacity: 0;
}

section#page {
  margin-top: 150px;
  margin-bottom: 80px;
}
section#page .title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #edbf07;
  border-bottom: 1px solid #edbf07;
  padding: 15px 0px;
  margin-bottom: 25px;
}
section#page .title i {
  margin-right: 15px;
}
section#page .text p {
  color: #FFFFFF;
  float: left;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
section#page .text p:last-child {
  margin-bottom: 0px;
}

footer {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}
footer address {
  color: #FFF;
  margin-bottom: 8px;
}
footer .reservedRights {
  color: #9C8CA3;
}
footer .containerSocial {
  float: right;
  position: relative;
}
footer .containerSocial .socialItem {
  float: left;
  position: relative;
  -webkit-transition: background-color .4s linear;
  -moz-transition: background-color .4s linear;
  -o-transition: background-color .4s linear;
  -ms-transition: background-color .4s linear;
  transition: background-color .4s linear;
}
footer .containerSocial .socialItem a {
  float: left;
  position: relative;
}
footer .containerSocial .socialItem a:hover {
  background: #edbf07;
}
footer .containerAlcateia {
  float: right;
  position: relative;
  margin-top: 10px;
}
